#gitHubStyle {
   background-color: black;
   color: white;
   margin-top: 0.2vw;
 }
 .contrib-number {
   color: white;
 }
 .js-calendar-graph-svg {
   margin-top: 3vw;
 }
 .float-right.color-fg-muted {
   margin-bottom: 1.5vw;
 }
 text.ContributionCalendar-label {
   color: white;
 }
 .ContributionCalendar-label {
   color: white;
   font-weight: 600;
 }
 .text-muted {
   font-size: 1vw;
   font-weight: 600;
 }
 .contrib-number {
   color: white;
   font-size: 2vw;
   margin-top: 0.5vw;
   margin-bottom: 0.5vw;
 }
 #githead {
   text-align: center;
   margin-top: 4vw;
   font-weight: 900;
   font-size: 1.6vw;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: black;
   color: white;
   padding: 1vw 1vw;
   border: 2px solid rgb(204, 204, 204);
 }