*{
   font-family: "Comic Sans MS", Times, serif;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    50deg,
    #ffb59f,
    #91e2ff,
    #ffef93
  );
  background-size: 600% 100%;
  animation: gradient 4s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

#navbar{
   margin: 0%;
   width: 100%;
   height: 5.2vw;
   background-color: rgb(255,255,255);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0% 5% 0% 5%;
   box-sizing: border-box;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 10px;
   border-bottom-left-radius: 9%;
   border-bottom-right-radius: 9%;
   border-bottom: 1px solid rgb(179, 179, 179);
   position: fixed;
   z-index: 10000;
}
#logo{
   height: 3.8vw;
   box-sizing: border-box;
}
#logo > a > img{
   height: 100%;
   border-radius: 20%;
   border-bottom-left-radius: 40%;
   border-bottom-right-radius: 40%;
   cursor: pointer;
}
#logo > img:hover{
   height: 101%;
}
#navbutton{
   display: flex;
   width: 40vw;
   height: 100%;
   font-weight: 900;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   font-size: 1.25vw;
}
#navbutton a{
   text-decoration: none;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navbutton a:hover{
   color: #006ae4;
   font-family: "Comic Sans MS", Times, serif;
   font-size: 1.28vw;
}
#intro_ProfilePic{
   width: 90vw;
   display: grid;
   grid-template-columns: 38vw 29vw;
   justify-content: space-around;
   margin: auto;
}
#intro{
   height: auto;
   font-size: 2.1vw;
   background-color: rgba(252, 234, 225, 0.842);
   line-height: 6.5vw;
   padding: 0.5vw;
   padding-top: -8vw;
   padding-left: 2.5vw;
   border-radius: 10px;
   border-top-right-radius: 280px;
   border-top-left-radius: 80px;
   border-bottom-right-radius: 100px;
   box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
   border: 2px solid rgba(196, 196, 196, 0.171);
   margin-top: 8vw;
}
#intro:hover{
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
#intro > h1 > span{
   font-size: 4.9vw;
}
#intro > h3{
   line-height: 3.5vw;
   font-size: 2.1vw;
   margin-top: -2vw;
}
#ProPic{
   margin-top: 7.5vw;
}
#ProPic > img{
   width: 90%;
   margin-top: 2vw;
}
#ProPic > img:hover{
   width: 100%;
   transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.35s;
}
#CV{
   margin-top: 2vw;
   margin-left: 3vw;
   width: 11vw;
   border-radius: 10px;
   font-weight: 900;
   font-size: 1vw;
   padding: 1vw;
   border: 1px solid #0057b960;
   color: #ffffff;
   background-color: #006ae4;
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#CV>a{
   text-decoration: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #ffffff;
}
#CV:hover{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}