* {
  font-family: "Comic Sans MS", Times, serif;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(50deg, #ffe969, #7ad4f5, #ff9c7e);
  background-size: 600% 100%;
  animation: gradient 5s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

#navbar {
  margin: 0%;
  width: 100%;
  height: 4.6vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5% 0% 5%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 10px;
  border-bottom-left-radius: 11%;
  border-bottom-right-radius: 11%;
  border-bottom: 1px solid rgb(179, 179, 179);
  position: fixed;
  z-index: 10000;
}
#logo {
  height: 3.8vw;
  box-sizing: border-box;
}
#logo > a > img {
  height: 4vw;
  border-radius: 20%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  cursor: pointer;
  position: fixed;
  z-index: 10002;
}
#logo > img:hover {
  height: 101%;
}
#navbutton {
  display: flex;
  width: 40vw;
  height: 100%;
  font-weight: 900;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1.25vw;
}
#navbutton a {
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navbutton a:hover {
  color: #006ae4;
  font-family: "Comic Sans MS", Times, serif;
  font-size: 1.28vw;
}
#intro_ProfilePic {
  width: 100%;
  display: grid;
  grid-template-columns: 38vw 29vw;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 2vw;
  padding-bottom: 5.2vw;
  background: rgb(0, 189, 185);
  background: linear-gradient(
    60deg,
    rgba(0, 189, 185, 1) 52%,
    rgba(255, 242, 128, 1) 53%,
    rgba(2, 163, 214, 1) 54%
  );
}

#intro {
  height: auto;
  font-size: 2vw;
  background-color: rgba(255, 255, 255, 0.945);
  line-height: 6.5vw;
  padding: 0.5vw;
  padding-top: -8vw;
  padding-left: 2.5vw;
  border-radius: 10px;
  border-top-right-radius: 280px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 100px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 2px solid rgba(196, 196, 196, 0.171);
  margin-top: 7vw;
}
#intro:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
#intro > h1 > span {
  font-size: 4.9vw;
}
#intro > h3 {
  line-height: 3.5vw;
  font-size: 2.5vw;
  margin-top: -2vw;
  color: #002f64;
  font-family: monospace;
}
#ProPic {
  margin-top: 7.5vw;
}
#ProPic > img {
  width: 90%;
  margin-top: 2vw;
}
#ProPic > img:hover {
  width: 100%;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.35s;
}
#CV {
  margin-top: 2vw;
  margin-left: 3vw;
  width: 11vw;
  border-radius: 10px;
  font-weight: 900;
  font-size: 1vw;
  padding: 1vw;
  border: 1px solid #004fa860;
  color: #ffffff;
  background-color: #1565c2;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#CV > a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}
#CV:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
