#stats_det {
  margin: auto;
  text-align: center;
  width: 70vw;
  box-sizing: border-box;
  padding: 4vw 7vw;
  margin-top: 4vw;
  background-color: #0c2050dc;
  border-radius: 8px;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
}
#stats_det:hover{
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}
#stats {
  display: flex;
  justify-content: space-around;
  gap: 2vw;
}

.pieContainer {
  height: 7.3vw;
  width: 7.3vw;
  position: relative;
}

.pieBackground {
  background-color: rgb(27, 27, 27);
  position: absolute;
  height: 7.3vw;
  width: 7.3vw;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.534);
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.473);
}

.stat-circle-cover {
  position: absolute;
  top: 0.72vw;
  right: 0.72vw;

  background-color: rgb(51, 51, 51);
  height: 5.85vw;
  width: 5.85vw;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;

  -moz-box-shadow: inset 0px 0px 5px #666;
  -webkit-box-shadow: inset 0px 0px 5px #666;
  box-shadow: inset 0px 0px 1px #666;
}

.stat-circle-cover span.stat-number {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  line-height: 6vw;
  color: #ffc919;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.7vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.pie {
  position: absolute;
  height: 7.3vw;
  width: 7.3vw;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  clip: rect(0px, 50px, 100px, 0px);
}

.hold {
  position: absolute;
  height: 7.3vw;
  width: 7.3vw;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  clip: rect(0px, 100px, 100px, 50px);
}

#pieSlice1_1 .pie,
#pieSlice2_1 .pie,
#pieSlice3_1 .pie,
#pieSlice4_1 .pie,
#pieSlice5_1 .pie {
  background-color: #56e05d;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#pieSlice1_2,
#pieSlice2_2,
#pieSlice3_2,
#pieSlice4_2,
#pieSlice5_2 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#pieSlice1_2 .pie,
#pieSlice2_2 .pie,
#pieSlice3_2 .pie,
#pieSlice4_2 .pie,
#pieSlice5_2 .pie {
  background-color: #56e05d;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#pieSlice2_1 .pie {
  background-color: #029b2b;
}
#pieSlice2_2 .pie {
  background-color: #029b2b;
}

#pieSlice3_1 .pie {
  background-color: #ffaa34;
}
#pieSlice3_2 .pie {
  background-color: #ffaa34;
}

#pieSlice4_1 .pie {
  background-color: #c5241b;
}
#pieSlice4_2 .pie {
  background-color: #c5241b;
}

#pieSlice5_1 .pie {
  background-color: #1b51c5;
}
#pieSlice5_2 .pie {
  background-color: #1b51c5;
}

#det {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
  gap: 2vw;
  line-height: 1.8vw;
  color: rgb(255, 246, 217);
}
#det > div > h4 {
  margin-top: 0.9vw;
  font-size: 1.6vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#det > div > p {
  margin-top: -1.5vw;
  font-weight: bold;
}
